
.bookmarklist_container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.bookmark_container{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

