header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow:rgba(0,0,0,0.1) 0 0.8px 8px;
    background-color: white;
    z-index: 100;
}

.left_section {
    flex: 6 0 auto ;
    padding: 25px;
}

.logo {
    width: 55px;
    height: 30px;
}
.logo:hover {
    cursor: pointer;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
h1:hover {
    cursor: pointer;
}

.right_section {
    flex: 1 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    cursor: pointer;
    &:hover .dropdown_container {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 100px;
        left: 10;
        width: 80%;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 10px;
        text-align: left;
        background-color: white;
        box-shadow:rgba(0,0,0,0.2) 1px 4px 21px;
    }
}

.dropdown_container {
    visibility: hidden;
    display: none;
    transition: 1s;
}

.dropdown_menu {
    border: 1px solid rgba(0,0,0,0.1);
}

label:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}