.modalBackdrop {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 101;
}

.view {
    z-index: 102;
    background-color: white;
    position: fixed;
    top: 22vh;
    left: 21vw;
    width: 58vw;
    height: 56vh;
    border-radius: 10px;

}

button {
    position: fixed;
    background-color: rgba(0,0,0,0);
    color: white;
    top: 24vh;
    left: 75vw;   
    width: 24px;
    height: 24px;
    font-size: 24px;
    z-index: 102;
    border: 0;
}

.modal_bookmark {
    position: fixed;
    width: 24px;
    height: 24px;
    z-index: 102;
    top: 72vh;
    left: 22vw;
}

.modal_hide {
    display: none;
}

.title {
    position: fixed;
    width: 400px;
    height: 24px;
    z-index: 102;
    top: 72vh;
    left: 25vw;
    font-size: 24px;
    font-weight: 700;
    color: white;
}