.BookmarkList_page {
    margin: 0;
    padding-top: 104px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}