.ItemList_page {
    margin: 0;
    padding-top: 104px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ItemList_page_container {
    display: flex;
    width: 90%;
    max-width: 1128px; 
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
}

.tab {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.Items_container {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    gap: 24px;
}